{% extends 'base.html' %}

{% block extrahead %}
  <style>
    *
    {
      margin: 0; 
      padding: 0;
    }

    body
    {
      min-height: 100vh;
      background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(https://www.themoviedb.org/t/p/w600_and_h900_bestv2{{ movierate.poster_path }});
      background-size: cover;
    }

  </style>
{% endblock extrahead %}

{% block content %}

<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'movies:index' %}">Today's Movie</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'movies:index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'articles:index' %}">Community</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'rates:index' %}">Rates</a>
        </li>
      </ul>
      <div class="d-flex">
        <a class="me-2 btn btn-outline-info" href="{% url 'accounts:profile' user.username %}">Profile</a>
      </div>
    </div>
  </div>
</nav>

  
  <h1 class="text-center pt-3 text-white" style="font-size: 36px; font-family: 'LeferiPoint-SpecialA';">평가 페이지</h1>
  <a href="{% url 'rates:index' %}" class="btn btn-info btn-md"><span class="text-black" style="font-weight: bold;">BACK</span></a>
  <hr class="text-white">
  <div class="card container text-center" style="width: 22rem; padding-top: 12px; margin-bottom: 12px;">
    <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2{{ movierate.poster_path }}" class="card-img-top" alt="...">
    <div class="card-body">
      
      <h4>한줄평 <span style="font-size: 15px;">&#40; {{rates|length}} &#41;</span></h4>
      {% if rates %}
      {% endif %}
      <ul style="padding-left: 0px;">
        {% for rate in rates %}
        <li style="list-style: none;">
          {{ rate.star_rate }} __
          &#40; {{ rate.user }} &#41;
          {% if user == rate.user %}
          <form action="{% url 'rates:rate_delete' movierate.pk rate.pk %}" method='POST' class='d-inline'>
            {% csrf_token %}
            <button type="text" class="btn btn-sm" style="margin-bottom: 3px">
              <span style="font-size: 1em; color: Tomato;">
                <i class="fa-solid fa-trash"></i>
              </span>
            </button>
          </form>
          {% endif %}
        </li>
        {% empty %}
        <p>평가가 없어요.</p>
        {% endfor %}
      </ul>
      <hr>
      {% if request.user.is_authenticated %}
      <form action="{% url 'rates:rate_create' movierate.pk %}" method="POST">
        {% csrf_token %}
        {{ rate_form.star_rate }}
        <input type="submit" class="btn btn-outline-info btn-md" style="width:18.4rem; margin-top: 10px" value="평가 남기기">
      </form>
      {% else %}
      <a href="{% url 'accounts:login' %}" class="btn btn-outline-info btn-md" style="width:18.4rem; margin-top: 10px">[평가를 남기시려면 로그인하세요.]</a>
      {% endif %}
    </div>
  </div>
{% endblock %}
