{% extends 'base.html' %}

{% block extrahead %}
  <style>
    *
    {
      margin: 0; 
      padding: 0;
    }
    body
    {
      min-height: 100vh;
      background: #000;
    }


  </style>
{% endblock extrahead %}

{% block content %}

<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'movies:index' %}">Today's Movie</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'movies:index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'articles:index' %}">Community</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'rates:index' %}">Rates</a>
        </li>
      </ul>
      <div class="d-flex">
        <a class="me-2 btn btn-outline-info" href="{% url 'accounts:profile' user.username %}">Profile</a>
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid pt-3 text-white ">
  <h1 class="text-center" style="font-size: 36px; font-family: 'LeferiPoint-SpecialA';">상세 페이지</h1>
  <a href="{% url 'articles:index' %}" class="btn btn-info btn-md"><span class="text-black" style="font-weight: bold;">BACK</span></a>
  <hr>
  <div class="card container text-start" style="width: 22em; padding: 2px; margin-bottom: 12px;">
    <div class="card-body" style="padding-left: 8px; padding-right: 8px; padding-bottom: 8px; background-color: black;">
      <h2>{{ article.title }}</h2>
      <h6 class="text-white">수정시각 : {{article.updated_at}}</h6>
      <hr>
      <h6>{{ article.description }}</h6>
    </div>
  </div>
  <div class="text-center">
    {% if request.user == article.user %}
    <a href="{% url 'articles:update' article.pk %}" class="btn btn-outline-info btn-md" style="width:170px;">UPDATE</a>
    <form action="{% url 'articles:delete' article.pk %}" method="POST" style="display: inline">
      {% csrf_token %}
      <input type="submit" value="DELETE" class="btn btn-outline-danger btn-md" style="width:170px;">
    </form>
    {% endif %}
  </div>
  <hr>
  
  <h4>댓글 목록</h4>
  {% if comments %}
  {% endif %}
  <ul>
    {% for comment in comments %}
    <li >
      {{ comment.content }} __
      &#40; {{ comment.user }} &#41;
      {% if user == comment.user %}
      <form action="{% url 'articles:comment_delete' article.pk comment.pk %}" method='POST' class='d-inline'>
        {% csrf_token %}
        
        <button type="text" class="btn btn-dark">
          <span style="font-size: 1em; color: Tomato;">
            <i class="fa-solid fa-trash"></i>
          </span>
        </button>
        {% comment %} <input type="submit" value="댓글 지우기"></input> {% endcomment %}
      </form>
      {% endif %}
    </li>
    {% empty %}
    <p>댓글이 없어요.</p>
    {% endfor %}
  </ul>
  <hr>
  {% if request.user.is_authenticated %}
  <form action="{% url 'articles:comment_create' article.pk %}" method="POST" class="text-center">
    {% csrf_token %}
    <div class="card container text-start" style="width: 22rem; padding-left: 0px;padding-right: 0px; background-color:black;">
      <h4 class="card-header text-center">댓글 작성하기</h4>
      <div class="card-body" style="font-family: consolas;">
        <p class="my-2 card-text">{{ comment_form.content }}</p>
      </div>
    </div>
    {% comment %} {{ comment_form }} {% endcomment %}
    <input type="submit" class="btn btn-outline-info btn-md" style="width:320px;" value="댓글 작성">
    
  </form>
  {% else %}
  <a href="{% url 'accounts:login' %}" class="btn btn-outline-info btn-md text-center" style="width:320px;">[댓글을 작성하려면 로그인하세요.]</a>
  {% endif %}
</div>

{% endblock content %}