{% extends 'base.html' %}

{% block extrahead %}
  <style>
    *
    {
      margin: 0; 
      padding: 0;
    }
    body
    {
      min-height: 100vh;
      background: #000;
    }
  </style>
{% endblock extrahead %}

{% block content %}

<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'movies:index' %}">Today's Movie</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'movies:index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'articles:index' %}">Community</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'rates:index' %}">Rates</a>
        </li>
      </ul>
      <div class="d-flex">
        <a class="me-2 btn btn-outline-info" href="{% url 'accounts:profile' user.username %}">Profile</a>
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid pt-3 text-white ">
  <h1 class="text-center" style="font-size: 36px; font-family: 'LeferiPoint-SpecialA';">게시글 수정 페이지</h1>
  <a href="{% url 'articles:detail' article.pk %}" class="btn btn-info btn-md"><span class="text-black" style="font-weight: bold;">BACK</span></a>
  <hr>
  <div class="card container text-start" style="width: 22em; padding: 2px; margin-bottom: 12px;">
    <div class="card-body" style="padding-left: 8px; padding-right: 8px; padding-bottom: 8px; background-color: black;">
      <form action="{% url 'articles:update' article.pk %}" method="POST">
        {% csrf_token %}
        <h5>title {{ form.title }}</h5>
        <h5>description {{ form.description }}</h5>
        <input type="submit" class="btn btn-outline-info btn-md" style="width:20.6em;" value="게시글 수정">
      </form>
    </div>
  </div>
  <br>
  
{% endblock content %}