{% extends 'base.html' %}

{% block extrahead %}
  <style>
    *
    {
      margin: 0; 
      padding: 0;
    }
    body
    {
      min-height: 100vh;
      background: #000;
    }
  </style>
{% endblock extrahead %}

{% block content %}
<div style="padding-top: 100px">

  <div class="container text-center">

    <form action="{% url 'accounts:change_password' %}" method="POST">
      {% csrf_token %}
      <div class="card container text-start" style="width: 18rem; margin-bottom: 10px;padding-left: 0px;padding-right: 0px;">
        <h5 class="card-header text-center">CHANGE_PW</h5>
        <div class="card-body" style="font-family: consolas;">
          <p class="my-2 card-text">기존 비밀번호 {{ form.old_password }}</p>
          <p class="my-2 card-text">새 비밀번호 {{ form.new_password1 }}</p>
          <p class="my-2 card-text">새 비밀번호 확인 {{ form.new_password2 }}</p>
        </div>
      </div>
      
      <input type="submit" class="btn btn-outline-info btn-lg" style="width:140px;" value="변경하기">
      <a href="{% url 'accounts:update' %}" type="button" class="btn btn-outline-dark btn-lg" style="width:140px; display: inline"><span class="text-white ">뒤로가기</span></a>
    </form>
  </div>
</div>
{% endblock content %}