{% extends 'base.html' %}

{% block extrahead %}
  <style>
    *
    {
      margin: 0; 
      padding: 0;
    }
    body
    {
      min-height: 100vh;
      background: #000;
    }
  </style>
{% endblock extrahead %}

{% block content %}
<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'movies:index' %}">Today's Movie</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'movies:index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'articles:index' %}">Community</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'rates:index' %}">Rates</a>
        </li>
      </ul>
      <div class="d-flex">
        <a class="me-2 btn btn-outline-info" href="{% url 'accounts:profile' user.username %}">Profile</a>
      </div>
    </div>
  </div>
</nav>

<br>
<h1 class="text-info text-center" style="margin-top: 12px; margin-bottom: 12px;"><span class="text-white">{{user.username}}</span>프로필 페이지</h1>
<br>
<div class="container text-center">    
  <div class="card container text-center" style="width: 22rem; padding-top: 12px; padding-bottom: 12px; margin-bottom: 12px;">
    <div class="card-body text-start" style="padding-left: 8px;padding-right: 8px; padding-bottom: 8px;">
      <h4>사용자 현위치 : &nbsp;{{person.region}}</h4>
      <h4>선호하는 장르 : &nbsp;{{person.genre_like}}</h4>
      <h4>싫어하는 장르 : &nbsp;{{person.genre_dislike}}</h4>
    </div>
  </div>
  
  <div style="margin-top: 12px; margin-bottom: 12px;">
    <a href="{% url 'accounts:update'%}" type="button" class="btn  btn-info btn-lg" style="width:170px; display: inline"><span class="text-black ">정보수정</span></a>

    <form action="{% url 'accounts:logout' %}" method="POST" style="display: inline">
      {% csrf_token %}
      <input type="submit" value="로그아웃" class="btn btn-danger btn-lg" style="width:170px;">
    </form>
  </div>
</div>







{% endblock content %}