{% extends 'base.html' %}

{% block extrahead %}
  <style>
    *
    {
      margin: 0; 
      padding: 0;
    }
    body
    {
      min-height: 100vh;
      background: #000;
    }
  </style>
{% endblock extrahead %}

{% block content %}
<div style="padding-top: 100px">

  <div class="container text-center">

    <form action="{% url 'accounts:signup' %}" method="POST">
      {% csrf_token %}
      <div class="card container text-start" style="width: 18rem; margin-bottom: 10px;padding-left: 0px;padding-right: 0px;">
        <h5 class="card-header text-center">SIGNUP</h5>
        <div class="card-body" style="font-family: consolas;">
          <p class="my-2 card-text">ID {{ form.username }}</p>
          <p class="my-2 card-text">EMAIL {{ form.email }}</p>
          <p class="my-2 card-text">현재 위치 {{ form.region }}</p>
          <p class="my-2 card-text">좋아하는 장르 {{ form.genre_like }}</p>
          <p class="my-2 card-text">싫어하는 장르 {{ form.genre_dislike }}</p>
          <p class="my-2 card-text">패스워드 {{ form.password1 }}</p>
          <p class="my-2 card-text">패스워드 재확인 {{ form.password2 }}</p>
        </div>
      </div>
      {% comment %} {{ form.as_p }} {% endcomment %}
      <input type="submit" class="btn btn-light btn-lg" style="width: 18rem; margin-bottom: 10px" value="회원가입">
    </form>

    <a href="{% url 'movies:index'%}" type="button" class="btn btn-outline-dark btn-lg" style="width: 18rem; display: inline"><span class="text-white ">뒤로가기</span></a>

  </div>
</div>


{% endblock content %}